.showpart
  p
    font-size .8rem
  pre
    border-radius 1rem
    padding 1rem
    background #141313
  blockquote
    border-left .3rem solid red
    margin 0px
    margin-left .5rem
  ul li
    font-size .8rem
  img
    max-width 98%
  a
    color aqua